{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <div class="li-main-article-list">
                    {{ range first 10 .Data.Pages }}
                        <div class="li-article">
                            {{ .Render "summary"}}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <p>
        </p>
        <strong class="code-label" style="color: rgb(55, 56, 55); background-color: rgba(211, 218, 218, 0.918); font-size: 1.1em; margin: 0px 30px 16px;"> c0ntact.me </strong>
        <p>
        </p>
        <div style="text-align: center;">
            <form method="POST" action="https://formspree.io/d0ntdeleteme@protonmail.com">
                <input type="email" name="email" placeholder="Email:" style="margin: 0px 30px 16px; height: 20px; width: 380px; color: rgb(0, 6, 8); background-color: rgb(230, 236, 238;">
                <div pseudo="placeholder"></div>
                <div contenteditable="plaintext-only"></div>
            <textarea name="message" placeholder="Troll Say What:" style="margin: 0px 30px 20px; height: 120px; width: 380px; color: rgb(0, 6, 8); background-color: rgb(230, 236, 238;"></textarea>
                <div contenteditable="plaintext-only"></div>
                <div pseudo="placeholder"></div>
            </textarea>
                <button type="submit" style="margin: 0px 0px 0px; color: rgb(232, 237, 238); background-color: rgb(72, 74, 75);">Send </button>
            </form>
        </div>
        <p>
        </p>     
    </div>    
    
    

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}

<style>
    div {
      text-align: justify;
      text-justify: inter-word;
    }
</style>